<div id="create1" >
  <img src="../assets/createprofile.png" alt="createprofile">
  <form id="background" action="#" method="post">
    <label for="name">What is your name?</label>
    <input type="text" name="name" value="">
    <label for="name">What day were you born?</label>
    <input type="text" name="dateOfBirth" value="">
    <label for="name">What is your species?</label>
    <input type="text" name="species" value="">
    <label for="name">What is your ancestry?</label>
    <input type="text" name="ancestry" value="">
    <input class="next" type="submit" name="" value="Next-->">
  </form>
</div>


<div id="create2">
  <img src="../assets/createprofile.png" alt="createprofile">
  <form id="looks" action="#" method="post">
    <label for="name">What is your gender?</label>
    <input type="text" name="gender" value="">
    <label for="name">What is your eye colour?</label>
    <input type="text" name="eyeColour" value="">
    <label for="name">What is your hair colour?</label>
    <input type="text" name="hairColour" value="">
    <label for="name">What do you look like?</label>
    <input type="text" name="image" value="" placeholder="Copy image url here">
    <input class="next" type="submit" name="" value="Next-->">
  </form>
</div>

<div id="create3">
  <img src="../assets/createprofile.png" alt="createprofile">
  <form id="looks" action="#" method="post">
    <label for="name">What is your gender?</label>
    <input type="text" name="gender" value="">
    <label for="name">What is your eye colour?</label>
    <input type="text" name="eyeColour" value="">
    <label for="name">What is your hair colour?</label>
    <input type="text" name="hairColour" value="">
    <label for="name">What do you look like?</label>
    <input type="text" name="image" value="" placeholder="Copy image url here">
    <input class="next" type="submit" name="" value="Next-->">
  </form>
</div>


<script type="text/javascript" src="./js/create.js"></script>
