<div id="create1" >
  <img src="../assets/createprofile.png" alt="createprofile">
  <form id="background" action="#" method="post">
    <label for="name">Your full name:</label>
    <input type="text" name="name" value="">
    <label for="name">Your birth date:</label>
    <input type="text" name="dateOfBirth" value="">
    <label for="name">Your species:(human,elf,giant,etc)</label>
    <input type="text" name="species" value="">
    <label for="name">Your ancestry:(Pure, Half, Muggle Born)</label>
    <input type="text" name="ancestry" value="">
    <input class="next" type="submit" name="" value="Next-->">
  </form>
</div>


<div id="create2">
  <img src="../assets/createprofile.png" alt="createprofile">
  <form id="looks" action="#" method="post">
    <label for="name">Your gender:</label>
    <input type="text" name="gender" value="">
    <label for="name">Your eye colour:</label>
    <input type="text" name="eyeColour" value="">
    <label for="name">Your hair colour:</label>
    <input type="text" name="hairColour" value="">
    <label for="name">An Image of You(copy url)</label>
    <input type="text" name="image" value="" placeholder="Copy image url here">
    <input class="next" type="submit" name="" value="Next-->">
    <button id="back1" name="back1"><--Back</button>
  </form>
</div>

<div id="create3">
  <img src="../assets/pickhouse.jpg" alt="pickhouse">
  <div class="display-box">
    <img id="sort" src="../assets/sortinghat.png" alt="sorting hat">
    <div id="house-display" class="hidden">
      <h2>Your House is:</h2>
    </div>
  </div>
  <div class="button-box">
    <form id="house" action="index.html" method="post">
      <input class="next" type="submit" name="" value="Next-->">
    </form>
    <button id="back2" name="back2"><--Back</button>
  </div>
</div>

<div id="create4">
  <img src="../assets/choosewand.jpg" alt="choosewand">
  <div class="display-box">
    <img id="wand-box" src="../assets/wandbox.png" alt="sorting hat">
    <div id="wand-display">
      <h2>Your Wand is:</h2>
    </div>
  </div>
  <div class="button-box">
    <form id="wand" action="index.html" method="post">
      <input class="next" type="submit" name="" value="Next-->">
    </form>
    <button id="back3" name="back3"><--Back</button>
  </div>
</div>

<div id="create5">
  <img src="../assets/findpatronus.jpg" alt="findpatronus">
  <div class="display-box">
    <img id="patronus-click" src="../assets/wandpatronus.png" alt="wand">
    <div id="patronus-display">
      <h2>Your Patronus is:</h2>
    </div>
  </div>
  <div class="button-box">
    <form id="patronus" action="index.html" method="post">
      <input class="next" type="submit" name="" value="Next-->">
    </form>
    <button id="back4" type="button" name="button"><--Back</button>
  </div>
</div>

<div id="create6">
  <img src="../assets/profilepreview.png" alt="findpatronus">
  <div id="profile-preview">
    <h2>Your profile information:</h2>
    <button id="preview" type="button" name="button">Click Here for Preview</button>
  </div>
  <div class="button-box">
    <form id="save" action="index.html" method="post">
      <input class="next" type="submit" name="" value="Save Profile">
    </form>
    <button id="back5" type="button" name="button"><--Back</button>
  </div>
</div>


<script type="text/javascript" src="./js/create.js"></script>
