<div class="landing-image">
  <div class="about">
    <a href="/about"><img src="../assets/about.jpg" alt="about"/></a>
  </div>
  <div class="all-members">
    <a href="/allMembers"><img src="../assets/allmember.jpg" alt="all-members"/></a>
  </div>
  <div class="search">
    <a href="/search"><img src="../assets/search.jpg" alt="all-members"/></a>
  </div>
</div>


<script type="text/javascript" src="./js/index.js"></script>
