<div id="landing-image">
  <div>
    <img src="../assets/about 2.jpg" alt="about">
    <p>Welcome to the Premier Social Network at Hogwarts' Castle. The Magical Network connects student and staff to create meaningful interactions, new relationships, and some old fashioned flirting. Join today to get your best experience at Hogwarts!</p>
  </div>
</div>
