<div id="profile-container">
    <img class="avatar" src="#" alt="avatar">
    <div class="details">
      <div class="name">
      </div>
      <div class="info">
        <img src="../assets/info.png" alt="name">
      </div>
      <div class="wand">
        <img src="../assets/wand.png" alt="name">
      </div>
    </div>
    <div class="house-points">
      <img src="../assets/houses/Gryffindor.png" alt="avatar">
      <h1 id="g-points">100</h1>
      <img src="../assets/houses/Slytherin.png" alt="avatar">
      <h1 id="s-points">90</h1>
      <img src="../assets/houses/Hufflepuff.png" alt="avatar">
      <h1 id="h-points">70</h1>
      <img src="../assets/houses/Ravenclaw.png" alt="avatar">
      <h1 id="r-points">89</h1>
    </div>
    <div class="images">
      <img id="house" src="#" alt="house">
      <img id="patronus" src="#" alt="patronus">
    </div>
    <div class="wall">
      <div id="posts">
      </div>
    </div>
    <div class="comment">
      <form id="comment"action="#" method="post" >
        <label for="comment">Leave a Comment:</label>
        <input type="text" name="name" placeholder="What is your name?">
        <textarea name="comment"></textarea>
        <input id="submit" type="submit" name="" value="Submit Comment">
      </form>
    </div>
  </div>



<script type="text/javascript" src="./js/profile.js"></script>
