<div class="outter-container">
  <div id="inner-container" class="hidden">
  </div>
  <div id="form">
    <p>Search by Name:</p>
    <form id="submit-name" action="#" method="post">
      <select id="name" name="name">
        <option value="">Select a Name</option>
      </select>
      <input type="submit" name="" value="Search by Name">
    </form>
    <p>Search by House:</p>
    <form id="submit-house" action="#" method="post">
      <select name="house">
        <option value="">Select a House</option>
        <option value="Gryffindor">Gryffindor</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>
        <option value="Ravenclaw">Ravenclaw</option>
      </select>
      <input type="submit" name="" value="Search by House">
    </form>
    <p>Search the Staff:</p>
    <form id="submit-staff" action="#" method="post">
      <input id="staff" type="submit" name="" value="Search the Staff">
    </form>
  </div>
  <div class="create-container">
    <div id="create">
      <a href="/create1"><img src="../assets/create.jpg" alt="create"/></a>
    </div>
    <div id="create">
      <a href="/search"><img src="../assets/search.jpg" alt="search"/></a>
    <div>
    </div>
  </div>
</div>

<script type="text/javascript" src="./js/search.js"></script>
