<div class="outter-container">
  <div id="inner-container" class="hidden">
  </div>
  <div id="form">
    <img src="../assets/name.jpg" alt="name">
    <form id="submit-name" action="#" method="post">
      <select id="name" name="name">
        <option value="">Select a Name</option>
      </select>
      <input type="submit" name="" value="Search by Name">
    </form>
    <img src="../assets/house.jpg" alt="name">
    <form id="submit-house" action="#" method="post">
      <select name="house">
        <option value="">Select a House</option>
        <option value="Gryffindor">Gryffindor</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>
        <option value="Ravenclaw">Ravenclaw</option>
      </select>
      <input type="submit" name="" value="Search by House">
    </form>
    <img src="../assets/house.jpg" alt="name">
    <form id="submit-staff" action="#" method="post">
      <input class="submit" type="submit" value="Search the Staff">
    </form>
    <img src="../assets/allmember 2.jpg" alt="name">
    <form id="submit-allmembers" action="#" method="post">
      <input class="submit" type="submit" value="Search All Members">
    </form>
  </div>
</div>

<script type="text/javascript" src="./js/search.js"></script>
