* {
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #999999;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 20vh 70vh 10vh; }
  body header {
    grid-row: 1/2;
    grid-column: 1/2; }
    body header a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      body header a img {
        width: 95%;
        height: 90%;
        margin: 1rem 0rem; }
  body main {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: white; }
  body footer {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #999999;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center; }
    body footer .footer-link {
      width: 40%;
      height: 65%;
      background-color: white;
      border: solid black 5px; }
      body footer .footer-link a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center; }
        body footer .footer-link a img {
          height: 90%; }

#landing-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/hogwartsbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #landing-image div {
    width: 90%;
    height: 70%;
    margin-top: 2rem;
    background-image: url("../assets/crest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #landing-image div img {
      width: 60%;
      margin-bottom: .6rem; }
    #landing-image div p {
      width: 50%;
      text-align: center;
      font-size: 1rem; }

#profile-list-container {
  width: 100%;
  height: 100%;
  overflow: scroll; }

.member-container {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 50% 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 1rem 0rem;
  border-radius: 5px; }
  .member-container img {
    grid-row: 1/3;
    grid-column: 1/2;
    height: 80%;
    width: auto;
    justify-self: center;
    align-self: center; }
  .member-container h1 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 1.3rem;
    font-weight: bold;
    justify-self: center;
    align-self: center; }
  .member-container h2 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1rem;
    justify-self: center;
    align-self: center; }
  .member-container a {
    grid-row: 1/3;
    grid-column: 3/4;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
  .member-container #link {
    width: auto;
    height: 50%; }

#form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  #form img {
    width: 50%;
    margin-top: 1rem; }
  #form form {
    height: 20%;
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    #form form input, #form form select {
      width: 55%;
      font-size: 1rem;
      border: solid black 1px; }
    #form form input:last-child {
      margin-left: 2rem; }
    #form form .submit {
      margin-left: 0rem; }

#profile-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% 15% 52% 23%; }
  #profile-container .avatar {
    grid-row: 1/3;
    grid-column: 1/2;
    height: 90%;
    width: auto;
    justify-self: center;
    align-self: center; }
  #profile-container .details {
    grid-row: 3/5;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 40%; }
    #profile-container .details .name, #profile-container .details .info, #profile-container .details .wand {
      width: 90%;
      height: 90%;
      justify-self: center;
      align-self: center;
      background-color: white;
      margin-top: .3rem; }
      #profile-container .details .name img, #profile-container .details .info img, #profile-container .details .wand img {
        width: auto;
        margin: .3rem 0 0rem .3rem; }
      #profile-container .details .name img:first-child, #profile-container .details .info img:first-child, #profile-container .details .wand img:first-child {
        height: 18%; }
      #profile-container .details .name img:last-child, #profile-container .details .info img:last-child, #profile-container .details .wand img:last-child {
        height: 15%; }
    #profile-container .details .name {
      grid-row: 1/2;
      grid-column: 1/2;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      #profile-container .details .name h1 {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center; }
    #profile-container .details .info {
      grid-row: 2/3;
      grid-column: 1/2; }
      #profile-container .details .info h2 {
        font-size: .65rem;
        text-align: left;
        margin-left: .5rem; }
    #profile-container .details .wand {
      grid-row: 3/4;
      grid-column: 1/2; }
      #profile-container .details .wand h2 {
        font-size: .7rem;
        text-align: left;
        margin-left: .5rem; }
  #profile-container .house-points {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #profile-container .house-points h1 {
      font-size: 1.2rem;
      font-weight: bold; }
    #profile-container .house-points div {
      height: 75%;
      display: flex;
      flex-flow: row; }
      #profile-container .house-points div img {
        width: auto;
        height: 50%; }
      #profile-container .house-points div h2 {
        font-size: 1.3rem; }
  #profile-container .images {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 75%; }
    #profile-container .images .house-title {
      grid-row: 1/2;
      grid-column: 1/2;
      font-size: 1.2rem;
      font-weight: bold;
      justify-self: center;
      align-self: center; }
    #profile-container .images .patronus-title {
      grid-row: 1/2;
      grid-column: 2/3;
      font-size: 1.2rem;
      font-weight: bold;
      justify-self: center;
      align-self: center; }
    #profile-container .images #house {
      grid-row: 2/3;
      grid-column: 1/2;
      width: auto;
      height: 100%;
      justify-self: center;
      align-self: center; }
    #profile-container .images #patronus {
      grid-row: 2/3;
      grid-column: 2/3;
      width: auto;
      height: 100%;
      justify-self: center;
      align-self: center; }
  #profile-container .wall {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  #profile-container #posts {
    width: 95%;
    height: 95%;
    border: solid black 2px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll; }
  #profile-container .post {
    width: 95%;
    height: 15%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: solid black 1px;
    border-radius: 1px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: space-between;
    margin-top: .5rem; }
    #profile-container .post h4 {
      font-size: .7rem;
      color: white;
      height: 100%;
      width: 30%;
      background-color: #999999;
      text-align: center;
      padding-top: .3rem; }
    #profile-container .post p {
      height: 100%;
      width: 70%;
      font-size: .7rem;
      text-align: center;
      padding-top: .3rem; }
  #profile-container .comment {
    grid-row: 4/5;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #profile-container .comment form {
      width: 95%;
      height: 95%;
      margin-bottom: .5rem; }
      #profile-container .comment form label {
        font-size: .9rem; }
      #profile-container .comment form textarea {
        width: 100%;
        height: 30%;
        font-size: .75rem;
        border: solid black 2px; }
      #profile-container .comment form input {
        width: 100%;
        font-size: .75rem;
        border: solid black 2px; }
        #profile-container .comment form input #submit {
          background-color: #999999; }

#create1, #create2, #create3, #create4, #create5, #create6 {
  width: 100%;
  height: 100%; }
  #create1 img, #create2 img, #create3 img, #create4 img, #create5 img, #create6 img {
    justify-self: center;
    align-self: center;
    width: auto;
    height: 70%;
    padding: .3rem;
    background-color: white;
    border: solid black 1px; }
  #create1 form, #create2 form, #create3 form, #create4 form, #create5 form, #create6 form {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #create1 form label, #create2 form label, #create3 form label, #create4 form label, #create5 form label, #create6 form label {
      width: 80%;
      background-color: #999999;
      text-align: center;
      font-size: 1rem;
      margin-top: 1rem;
      border: solid black 1px; }
    #create1 form input, #create2 form input, #create3 form input, #create4 form input, #create5 form input, #create6 form input {
      width: 80%;
      height: 2rem;
      font-size: 1.3rem;
      border: solid black 1px; }
    #create1 form .next, #create2 form .next, #create3 form .next, #create4 form .next, #create5 form .next, #create6 form .next {
      width: 50%;
      margin-top: .5rem;
      background-color: #999999; }

#back1, #back2, #back3, #back4, #back5 {
  width: 50%;
  height: 2rem;
  margin-top: .5rem;
  background-color: #999999;
  border: solid black 1px;
  font-size: 1.3rem; }

#create1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  background-image: url("../assets/create1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #create1 img {
    grid-row: 1/2;
    grid-column: 1/2; }
  #create1 #background {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 2rem; }

#create2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  background-image: url("../assets/create2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #create2 img {
    grid-row: 1/2;
    grid-column: 1/2; }
  #create2 #looks {
    grid-row: 2/3;
    grid-column: 1/2; }

#create3 {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
  background-image: url("../assets/create3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #create3 img {
    grid-row: 1/2;
    grid-column: 1/2; }
  #create3 .display-box {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #create3 .display-box #sort {
      border: none;
      height: 90%;
      width: auto;
      background-color: transparent;
      cursor: pointer; }
    #create3 .display-box #house-display {
      display: none;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 60%;
      background-color: white;
      border: solid black 1px;
      margin-top: 2rem;
      margin-bottom: 2rem; }
      #create3 .display-box #house-display h2 {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center; }
      #create3 .display-box #house-display h3 {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center; }

.button-box {
  grid-row: 3/4;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

#create4 {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
  background-image: url("../assets/create4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #create4 img {
    grid-row: 1/2;
    grid-column: 1/2; }
  #create4 .display-box {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #create4 .display-box #wand-box {
      height: 90%;
      width: auto;
      border: none;
      cursor: pointer;
      background-color: transparent; }
    #create4 .display-box #wand-display {
      display: none;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 60%;
      background-color: white;
      border: solid black 1px;
      margin-top: 2rem;
      margin-bottom: 2rem; }
      #create4 .display-box #wand-display h2 {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center; }
      #create4 .display-box #wand-display h3 {
        margin-top: .5rem;
        font-size: 1.3rem;
        text-align: center; }

#create5 {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
  background-image: url("../assets/create5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #create5 img {
    grid-row: 1/2;
    grid-column: 1/2; }
  #create5 .display-box {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #create5 .display-box #patronus-click {
      height: 90%;
      width: auto;
      border: none;
      cursor: pointer;
      background-color: transparent; }
    #create5 .display-box #patronus-display {
      display: none;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 60%;
      background-color: white;
      border: solid black 1px;
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: none;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      align-items: center; }
    #create5 .display-box h2 {
      margin-top: .5rem;
      font-size: 2rem;
      text-align: center; }
    #create5 .display-box h3 {
      margin-top: .5rem;
      font-size: 2rem;
      text-align: center; }
    #create5 .display-box #patronus-image {
      height: 35%;
      width: auto;
      border: none; }

#create6 {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%; }

#profile-preview {
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: solid black 1px; }
  #profile-preview h2 {
    text-align: center;
    margin: .3rem 0; }
  #profile-preview p {
    margin-top: .5rem;
    margin-left: 4rem;
    width: 100%;
    text-align: left; }
  #profile-preview #preview {
    width: 50%;
    height: 1.5rem;
    text-align: left;
    background-color: #999999;
    border: solid black 1px; }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
