* {
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #999999;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 20vh 70vh 10vh; }
  body header {
    grid-row: 1/2;
    grid-column: 1/2; }
    body header a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      body header a img {
        width: 95%;
        height: 90%;
        margin: 1rem 0rem; }
  body main {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: white; }
  body footer {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #999999;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center; }
    body footer .footer-link {
      width: 40%;
      height: 65%;
      background-color: white;
      border: solid black 5px; }
      body footer .footer-link a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center; }
        body footer .footer-link a img {
          height: 90%; }

#landing-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/hogwartsbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #landing-image div {
    width: 90%;
    height: 70%;
    margin-top: 2rem;
    background-image: url("../assets/crest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #landing-image div img {
      width: 60%;
      margin-bottom: .6rem; }
    #landing-image div p {
      width: 50%;
      text-align: center;
      font-size: 1rem; }

#profile-list-container {
  width: 100%;
  height: 100%;
  overflow: scroll; }

.member-container {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 50% 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 1rem 0rem;
  border-radius: 5px; }
  .member-container img {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 60%;
    height: 80%;
    justify-self: center;
    align-self: center; }
  .member-container h1 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 1.3rem;
    font-weight: bold;
    justify-self: center;
    align-self: center; }
  .member-container h2 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1rem;
    justify-self: center;
    align-self: center; }
  .member-container a {
    grid-row: 1/3;
    grid-column: 3/4;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
  .member-container #link {
    width: 50%;
    height: 50%; }

#form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  #form img {
    width: 50%;
    margin-top: 1rem; }
  #form form {
    height: 20%;
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    #form form input, #form form select {
      width: 45%;
      font-size: 1rem;
      border: solid black 1px; }
    #form form input:last-child {
      margin-left: 2rem; }
    #form form .submit {
      margin-left: 0rem; }

#profile-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 40% 60%;
  grid-template-rows: 15% 15% 50% 20%; }
  #profile-container .avatar {
    grid-row: 1/3;
    grid-column: 1/2;
    width: auto;
    height: 90%;
    justify-self: center;
    align-self: center; }
  #profile-container .details {
    grid-row: 3/5;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 40%; }
    #profile-container .details .name, #profile-container .details .info, #profile-container .details .wand {
      width: 90%;
      height: 90%;
      justify-self: center;
      align-self: center;
      background-color: white;
      margin-top: .3rem; }
      #profile-container .details .name img, #profile-container .details .info img, #profile-container .details .wand img {
        height: 15%;
        margin: .3rem 0 0rem .3rem; }
    #profile-container .details .name {
      grid-row: 1/2;
      grid-column: 1/2;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      #profile-container .details .name h1 {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center; }
    #profile-container .details .info {
      grid-row: 2/3;
      grid-column: 1/2; }
      #profile-container .details .info h2 {
        font-size: .7rem;
        text-align: left;
        margin-left: .5rem; }
    #profile-container .details .wand {
      grid-row: 3/4;
      grid-column: 1/2; }
      #profile-container .details .wand h2 {
        font-size: .7rem;
        text-align: left;
        margin-left: .5rem; }
  #profile-container .house-points {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem; }
    #profile-container .house-points img {
      width: 12%;
      height: 50%; }
    #profile-container .house-points h1 {
      font-size: 1.3rem; }
  #profile-container .images {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center; }
    #profile-container .images img {
      width: 30%;
      height: 100%; }
  #profile-container .wall {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  #profile-container #posts {
    width: 95%;
    height: 95%;
    border: solid black 2px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center; }
  #profile-container .post {
    width: 95%;
    height: 15%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: solid black 1px;
    border-radius: 1px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: space-between;
    margin-top: .5rem; }
    #profile-container .post h4 {
      font-size: .7rem;
      color: white;
      height: 100%;
      width: 30%;
      background-color: #999999;
      text-align: center;
      padding-top: .3rem; }
    #profile-container .post p {
      height: 100%;
      width: 70%;
      font-size: .7rem;
      text-align: center;
      padding-top: .3rem; }
  #profile-container .comment {
    grid-row: 4/5;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #profile-container .comment form {
      width: 95%;
      height: 95%; }
      #profile-container .comment form label {
        font-size: .9rem; }
      #profile-container .comment form textarea {
        width: 100%;
        height: 30%;
        font-size: .75rem;
        border: solid black 2px; }
      #profile-container .comment form input {
        width: 100%;
        font-size: .75rem;
        border: solid black 2px; }
        #profile-container .comment form input #submit {
          background-color: rgba(0, 0, 0, 0.3); }

#create1, #create2 {
  width: 100%;
  height: 100%; }
  #create1 img, #create2 img {
    width: 90%;
    margin-top: 1rem; }
  #create1 form, #create2 form {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #create1 form label, #create2 form label {
      font-size: 1.3rem;
      margin: .5rem 0; }
    #create1 form input, #create2 form input {
      width: 80%;
      height: 2rem;
      font-size: 1.3rem;
      border: solid black 1px; }
    #create1 form .next, #create2 form .next {
      width: 50%;
      margin-top: .5rem; }

#create1 {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center; }

#create2 {
  display: none;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center; }

#create3 {
  display: none;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center; }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
