@mixin flex-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@mixin grid-center {
  justify-self: center;
  align-self: center;
}
@mixin fill {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 60%);
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 20vh 70vh 10vh;

  header{
    grid-row: 1/2;
    grid-column: 1/2;
    a {
      width:100%;
      height: 100%;
      @include flex-center;

      img {
        width: 95%;
        height: 90%;
        margin: 1rem 0rem;
      }
    }
  }

  main {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: hsl(0, 0%, 100%);
  }

  footer {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: hsl(0, 0%, 60%);
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    .footer-link {
      width: 40%;
      height: 65%;
      background-color: hsl(0, 0%, 100%);
      border: solid hsl(0, 0%, 0%) 5px;
      a {
        width: 100%;
        height: 100%;
        @include flex-center;
        img {
          height: 90%;
        }
      }
    }
  }
}

#landing-image {
  width: 100%;
  height: 100%;
  @include flex-center;
  background-image: url("../assets/hogwartsbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  div {
    width: 90%;
    height: 70%;
    margin-top: 2rem;
    background-image: url("../assets/crest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include flex-center;
    img {
      width:60%;
      margin-bottom: .6rem;
    }
    p {
      width: 50%;
      text-align: center;
      font-size: 1rem;
    }
  }
}


#profile-list-container {
  @include fill;
  overflow: scroll;
}

.member-container {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 50% 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 1rem 0rem;
  border-radius: 5px;

  img {
    grid-row: 1/3;
    grid-column: 1/2;
    height: 80%;
    width: auto;
    justify-self: center;
    align-self: center;
  }
  h1 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 1.3rem;
    font-weight: bold;
    justify-self: center;
    align-self: center;
  }
  h2 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1rem;
    justify-self: center;
    align-self: center;
  }
  a {
    grid-row: 1/3;
    grid-column: 3/4;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    #link{
      width: auto;
      height: 50%;
    }
}

#form {
  @include fill;
  @include flex-center;

  img{
    width: 50%;
    margin-top: 1rem;
  }
  form {
    height: 20%;
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    input, select {
      width: 55%;
      font-size: 1rem;
      border: solid black 1px;
    }
    input:last-child {
      margin-left: 2rem;
    }
    .submit {
      margin-left: 0rem;
    }
  }
}

#profile-container {
  display: grid;
  @include fill;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% 15% 52% 23%;

  .avatar {
    grid-row: 1/3;
    grid-column: 1/2;
    height: 90%;
    width: auto;
    @include grid-center;
  }
  .details {
    grid-row: 3/5;
    grid-column: 1/2;
    @include fill;
    @include grid-center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 40%;

    .name, .info, .wand {
      width: 90%;
      height: 90%;
      @include grid-center;
      background-color: white;
      margin-top: .3rem;
      img {
       width: auto;
       margin: .3rem 0 0rem .3rem;
      }
      img:first-child {
        height: 18%;
        }
      img:last-child {
        height: 15%;
        }
      }

    .name {
      grid-row: 1/2;
      grid-column: 1/2;
      @include flex-center;
      h1 {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
      }
    }
    .info {
      grid-row: 2/3;
      grid-column: 1/2;
      h2{
        font-size: .65rem;
        text-align: left;
        margin-left: .5rem;
      }
    }
    .wand {
      grid-row: 3/4;
      grid-column: 1/2;
      h2{
        font-size: .7rem;
        text-align: left;
        margin-left: .5rem;
      }
    }
  }
  .house-points {
    grid-row: 1/2;
    grid-column: 2/3;
    @include flex-center;
    h1 {
      font-size: 1.2rem;
      font-weight: bold;
    }
    div {
      height: 75%;
      display: flex;
      flex-flow: row;
      img {
        width: auto;
        height: 50%;
        }
        h2 {
          font-size: 1.3rem;
      }
    }
  }
  .images {
    grid-row: 2/3;
    grid-column: 2/3;
    @include grid-center;
    @include fill;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 75%;
    .house-title {
      grid-row: 1/2;
      grid-column: 1/2;
      font-size: 1.2rem;
      font-weight: bold;
      @include grid-center;
    }
    .patronus-title {
      grid-row: 1/2;
      grid-column: 2/3;
      font-size: 1.2rem;
      font-weight: bold;
      @include grid-center;
    }
    #house {
      grid-row: 2/3;
      grid-column: 1/2;
      width: auto;
      height: 100%;
      @include grid-center;
    }
    #patronus {
      grid-row: 2/3;
      grid-column: 2/3;
      width: auto;
      height: 100%;
      @include grid-center;
    }
  }

  .wall {
    grid-row: 3/4;
    grid-column: 2/3;
    @include flex-center;
    @include fill;
  }

  #posts {
    width: 95%;
    height: 95%;
    border: solid black 2px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
  }

  .post {
    width:95%;
    height:15%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: solid black 1px;
    border-radius: 1px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: space-between;
    margin-top: .5rem;
    h4{
      font-size: .7rem;
      color: hsl(0, 0%, 100%);
      height: 100%;
      width: 30%;
      background-color: hsl(0, 0%, 60%);
      text-align: center;
      padding-top: .3rem;
    }
    p{
      height: 100%;
      width: 70%;
      font-size: .7rem;
      text-align: center;
      padding-top: .3rem;
    }
  }

  .comment {
    grid-row: 4/5;
    grid-column: 2/3;
    @include fill;
    @include flex-center;
    form{
      width: 95%;
      height: 95%;
      margin-bottom: .5rem;
      label {
        font-size: .9rem;
      }
      textarea {
        width: 100%;
        height: 30%;
        font-size: .75rem;
        border: solid black 2px;
      }
      input {
        width: 100%;
        font-size: .75rem;
        border: solid black 2px;
        #submit{
          background-color: hsl(0, 0%, 60%);
        }
      }
    }
  }
}

#create1 , #create2, #create3, #create4, #create5, #create6{
  @include fill;
  img {
    @include grid-center;
    width: auto;
    height: 70%;
    padding: .3rem;
    background-color: white;
    border: solid black 1px;
  }
  form {
    width: 100%;
    @include flex-center;
    label{
      width: 80%;
      background-color: hsl(0, 0%, 60%);
      text-align: center;
      font-size: 1rem;
      margin-top: 1rem;
      border: solid black 1px;
    }
    input {
      width: 80%;
      height: 2rem;
      font-size: 1.3rem;
      border: solid black 1px;
    }
    .next {
      width: 50%;
      margin-top: .5rem;
      background-color: hsl(0, 0%, 60%);
    }
  }
}



#back1, #back2, #back3, #back4, #back5 {
  width: 50%;
  height: 2rem;
  margin-top: .5rem;
  background-color: hsl(0, 0%, 60%);
  border: solid black 1px;
  font-size: 1.3rem;
}

#create1{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  background-image: url("../assets/create1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #background {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 2rem;
  }
}
#create2{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  background-image: url("../assets/create2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #looks {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
#create3{
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
  background-image: url("../assets/create3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  img{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .display-box {
    grid-row: 2/3;
    grid-column: 1/2;
    @include flex-center;
    #sort {
      border: none;
      height: 90%;
      width: auto;
      background-color: transparent;
      cursor: pointer;
    }
    #house-display {
      display: none;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 60%;
      background-color: white;
      border: solid black 1px;
      margin-top: 2rem;
      margin-bottom: 2rem;
      h2 {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center;
      }
      h3 {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}

.button-box {
  grid-row: 3/4;
  grid-column: 1/2;
  @include fill;
  @include flex-center;
}

#create4{
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
  background-image: url("../assets/create4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .display-box {
    grid-row: 2/3;
    grid-column: 1/2;
    @include flex-center;
    #wand-box {
      height: 90%;
      width: auto;
      border: none;
      cursor: pointer;
      background-color: transparent;
    }
    #wand-display {
      display: none;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 60%;
      background-color: white;
      border: solid black 1px;
      margin-top: 2rem;
      margin-bottom: 2rem;
      h2 {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center;
      }
      h3 {
        margin-top: .5rem;
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
}

#create5{
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
  background-image: url("../assets/create5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .display-box {
    grid-row: 2/3;
    grid-column: 1/2;
    @include flex-center;
    #patronus-click {
      height: 90%;
      width: auto;
      border: none;
      cursor: pointer;
      background-color: transparent;
    }
    #patronus-display {
      display: none;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 60%;
      background-color: white;
      border: solid black 1px;
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: none;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      align-items: center;
    }
    h2 {
      margin-top: .5rem;
      font-size: 2rem;
      text-align: center;
    }
    h3 {
      margin-top: .5rem;
      font-size: 2rem;
      text-align: center;
    }
    #patronus-image {
      height:35%;
      width: auto;
      border: none;
    }
  }
}

#create6{
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
}

#profile-preview {
  grid-row: 2/3;
  grid-column: 1/2;
  @include grid-center;
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: solid black 1px;
  h2{
    text-align: center;
    margin: .3rem 0;
  }
  p {
    margin-top: .5rem;
    margin-left: 4rem;
    width: 100%;
    text-align: left;
  }
  #preview {
    width: 50%;
    height: 1.5rem;
    text-align: left;
    background-color: hsl(0, 0%, 60%);
    border: solid black 1px;
  }
}


.hidden {
  display: none;
}
